In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.groupby('Area').sum("Y2017")

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,
Algeria,5252,3532053,5017927,313375.33,324058.40,326007.41,325644.27,341729.98
Angola,9968,3819908,5515088,208584.42,209565.67,214725.32,229159.57,235206.68
Benin,68105,3453692,4852820,118050.79,108181.13,117963.59,124771.22,124960.70
Botswana,27560,3704902,5259784,22339.92,23024.85,22970.65,22101.30,23129.08
Burkina Faso,328297,3778795,5431243,105051.33,102701.22,107702.27,101855.07,112970.72
Cabo Verde,44100,3396746,4787751,14576.94,14538.93,14569.40,14650.74,14622.60
Cameroon,46720,3916078,5663196,217630.28,225220.72,231714.36,232030.43,233022.93
Central African Republic,49728,3607546,5069094,28739.02,28885.34,29454.54,29937.00,30101.57
Chad,52377,3606529,5108355,65940.17,65835.88,72673.76,71594.68,72282.24
Comoros,2025,124514,241681,32.00,41.34,54.91,59.84,59.84
Congo,64998,3792029,5445560,38699.26,40255.51,40592.66,41181.68,42005.53
Côte d'Ivoire,156969,3934818,5691192,195982.84,211591.29,211439.20,224599.01,227018.00
Djibouti,78840,2956078,3980378,21332.28,23690.16,21783.91,22729.91,23718.96
Egypt,87792,3996567,5893126,849192.30,868218.73,858568.63,866379.92,852652.92
Eswatini,268356,3456174,4870226,53285.75,54072.07,54025.21,54343.33,55045.07
Ethiopia,344386,3878162,5598223,415935.50,429139.33,444567.57,448683.76,450788.86
Ethiopia PDR,2418,107853,209609,0.00,0.00,0.00,0.00,0.00
Gabon,92130,3354410,4590308,28126.31,28367.30,28129.95,27979.64,28339.38
Gambia,87600,3145402,4272295,19607.87,19665.39,21758.15,23154.18,23513.80
Ghana,109674,3639339,5135536,308328.59,311092.13,314320.45,337599.06,358915.64
Guinea,126900,3782145,5431286,91213.40,92803.39,95450.24,98138.87,103262.08
Guinea-Bissau,197400,3035574,4011694,17708.67,17990.06,18524.83,19102.77,18997.92
Kenya,177840,4185637,6211860,255211.01,265506.19,260257.56,264660.66,270916.80
Lesotho,140300,3099348,4204994,19125.89,17965.84,17258.96,21267.96,19109.23
Liberia,148338,3249929,4309057,27898.35,28698.10,29746.68,29342.20,29629.83
Madagascar,185631,3864258,5619900,128985.32,126674.90,129010.25,131197.73,134576.44
Malawi,188110,3879389,5600952,173454.86,167989.09,164970.42,181098.71,187366.09
Mali,171969,3469876,4878889,123038.75,132456.58,147324.78,149928.33,159026.42
Mauritania,162520,3222107,4297253,109557.63,61909.99,79872.42,156665.46,157479.95
Mauritius,188786,3711587,5317897,50898.12,53372.42,49272.41,51114.83,47150.91
Morocco,199199,3743082,5414999,375977.76,412473.80,367884.18,388495.36,399271.27
Mozambique,205488,3830309,5566682,160757.87,158231.17,159924.41,161407.98,164934.05
Namibia,188601,3452725,4813630,32026.42,30687.90,30389.07,29874.89,29350.04
Niger,221674,3763737,5384208,108236.65,117834.65,123601.88,126707.58,133982.86
Nigeria,234366,3954357,5726937,1399542.19,1414362.83,1482945.71,1483268.23,1499774.24
Rwanda,262384,3824085,5477860,70001.38,70138.83,70921.76,73663.69,74839.08
Sao Tome and Principe,227161,3168050,4260866,12458.64,12386.93,12647.56,12662.63,12806.49
Senegal,285090,3922180,5643618,78533.93,91939.14,89017.72,95681.15,95493.82
Seychelles,13328,188266,367816,305.20,358.20,416.32,442.34,442.34
Sierra Leone,244674,3343306,4603040,62570.89,62523.14,52767.72,55311.33,55981.73
South Africa,282598,3759379,5450983,497289.52,468352.18,462224.16,517590.54,509787.97
Sudan,363216,3534661,4866583,247577.56,230652.54,253197.29,239931.92,268054.39
Sudan (former),10918,146631,286940,0.00,0.00,0.00,0.00,0.00
Togo,280798,3478828,4868747,47618.05,47834.59,47930.75,49841.88,54872.00
Tunisia,297036,3602818,5131662,117029.33,128211.41,123778.86,124167.20,127343.17
Uganda,329508,3909109,5660301,218142.33,220615.72,202981.34,213950.38,222147.25
United Republic of Tanzania,305085,3809549,5461092,337430.64,341969.46,333765.86,322616.85,349763.41
Zambia,364201,3892801,5638889,99318.53,96214.00,97728.69,103223.77,101604.27
Zimbabwe,252133,3739292,5346770,78366.34,74041.79,75638.88,75919.34,76581.41

In [5]:
df.groupby(['Area', 'Element'])['Y2014'].sum()

Area      Element
Algeria   Domestic supply quantity                  83755.94
          Export Quantity                            1328.64
          Fat supply quantity (g/capita/day)          320.19
          Feed                                       9656.04
          Food                                      60582.69
                                                      ...
Zimbabwe  Protein supply quantity (g/capita/day)      184.23
          Residuals                                  -252.00
          Seed                                        144.00
          Stock Variation                            -644.00
          Total Population - Both sexes             13587.00
Name: Y2014, Length: 803, dtype: float64

In [6]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [8]:
df[df.Y2014.isnull()]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
46,4,Algeria,2805,Rice and products,5911,Export Quantity,1000 tonnes,NaN,0.0,0.0,0.0,0.0
61,4,Algeria,2513,Barley and products,5911,Export Quantity,1000 tonnes,NaN,0.0,0.0,NaN,0.0
88,4,Algeria,2515,Rye and products,5611,Import Quantity,1000 tonnes,NaN,NaN,NaN,NaN,0.0
100,4,Algeria,2516,Oats,5911,Export Quantity,1000 tonnes,NaN,NaN,0.0,0.0,0.0
183,4,Algeria,2533,Sweet potatoes,5911,Export Quantity,1000 tonnes,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
60362,181,Zimbabwe,2616,Plantains,664,Food supply (kcal/capita/day),kcal/capita/day,NaN,NaN,NaN,0.0,NaN
60363,181,Zimbabwe,2616,Plantains,674,Protein supply quantity (g/capita/day),g/capita/day,NaN,NaN,NaN,0.0,NaN
60364,181,Zimbabwe,2616,Plantains,684,Fat supply quantity (g/capita/day),g/capita/day,NaN,NaN,NaN,0.0,NaN
60623,181,Zimbabwe,2732,Mutton & Goat Meat,5911,Export Quantity,1000 tonnes,NaN,NaN,NaN,0.0,NaN
60646,181,Zimbabwe,2734,Poultry Meat,5911,Export Quantity,1000 tonnes,NaN,NaN,0.0,NaN,NaN

In [9]:
df.shape

(60943, 12)

In [10]:
df["Area"].nunique()

49